.customer-row {
  position: relative;
  display: flex;
  justify-content: flex-start;
  
}
.selected {
  color: #fff;
  background-color: rgb(33, 33, 33);
}
span {
  margin-right: 1rem;
}
mat-spinner {
  position: absolute;
  right: 50%;
  top: 60%;
}
@media only screen and (max-width: 360px) {
  span {
    display: none;
  }
  mat-panel-title {
    font-size: 14px;
  }
}
@media only screen and (max-width: 200px) {
 
  mat-panel-title {
    font-size: 13px;
  }
}
