<div class="container" fxLayout="column" fxFlexAlign="center">
  <h3>{{ title | uppercase }}</h3>
  <mat-spinner
    fxFlexAlign="center"
    diameter="60"
    *ngIf="showSpinner"
  ></mat-spinner>
  <div
    class="customer"
    fxLayout="column"
    fxLayout.xs="column"
    fxLayoutWrap="no-wrap"
    fxLayoutGap=".25rem"
    fxLayoutAlign="space-between"
  >
    <ng-container *ngFor="let customer of customers; let i = index">
      <app-customer [data]="customer"></app-customer>
    </ng-container>
  </div>
</div>
